@model BlazinPizzaCO.Models.Order

@if (Model.Pizzas.Any() || Model.Drinks.Any() || Model.Sides.Any())
{

}
else
{
    <article id="Basket" class="Empty">
        <h4>No items in the basket...</h4>
    </article>
}


