@model BlazinPizzaCO.Models.Order

@{
    ViewBag.Title = "Order";
}

<section id="Order">
    @Html.Partial("_BasketPartial", Model)

    <article class="Options offset-1 col-8">
        <a class="Pizzas" href="@Url.Action("PizzaSize", new { orderID = Model.ID })">PIZZAS</a>
        <a class="Sides" href="#">SIDES</a>
        <a class="drinks" href="#">DRINKS</a>
    </article>
</section>

