@model BlazinPizzaCO.Models.Order

@{
    ViewBag.Title = "Order";
}

<section id="Order">
    <div id="PageContainer" class="container-fluid">
        <div id="PageRow" class="row">

            @Html.Partial("_BasketPartial", Model)

            <div id="ExceptBasket" class=" col-xl-8 offset-1">
                <article class="Options">
                    <a class="Pizzas" href="@Url.Action("PizzaSize", new { orderID = Model.ID })">PIZZAS</a>
                    <a class="Sides" href="@Url.Action("ChooseSide", new { orderID = Model.ID })">SIDES</a>
                    <a class="Drinks" href="@Url.Action("ChooseDrink", new { orderID = Model.ID })">DRINKS</a>
                </article>
            </div>

        </div>
    </div>
</section>