@model BlazinPizzaCO.Models.Order

@{
    ViewBag.Title = "Pizza Size";
}

    <section id="PizzaSize">
        @Html.Partial("_BasketPartial", Model)

        <div class="row">
            <article class="Head offset-1 col-9">
                <a class="BackButton" href="@Url.Action("Order", new { orderID = Model.ID })">BACK</a>
                <h3 class="Text">SELECT SIZE</h3>
            </article><!--/#Banner-->

            <article class="Options row">
                <a class="Small offset-1 col-3" href="#">10"</a>
                <a class="Medium col-3" href="#">14"</a>
                <a class="Large col-3" href="#">18"</a>
            </article><!--/#Options-->
        </div>
    </section>


