@model BlazinPizzaCO.Models.Order

@{
    ViewBag.Title = "Pizza Size";
}

    <section id="PizzaSize">
        @Html.Partial("_BasketPartial", Model)

        <div class="row">
            <article class="PageHead col-12">
                <a class="BackButton" href="@Url.Action("Order", new { orderID = Model.ID })">BACK</a>
                <h2 class="Header">SELECT SIZE</h2>
            </article><!--/#Banner-->

            <div class="col-12">
                <article class="Options row">
                    <div class="col-4">
                        <a class="Small" href="#">10"</a>
                    </div>
                    <div class="col-4">
                        <a class="Medium" href="#">14"</a>
                    </div>
                    <div class="col-4">
                        <a class="Large" href="#">18"</a>
                    </div>
                </article><!--/#Options-->
            </div>
        </div>
    </section>


