@model BlazinPizzaCO.Models.Pizza

@{
    ViewBag.Title = "Select Toppings";
}

<section id="PizzaTopping">
    <div id="PageContainer" class="container-fluid">
        <div id="PageRow" class="row">

            @Html.Partial("_BasketPartial", Model.Order)

            <div id="ExceptBasket" class="col-xl-8 offset-xl-1">
                <article class="PageHead col-xl-12">
                    <a class="BackButton" href="@Url.Action("PizzaSize", new { orderID = Model.Order.ID, pizzaID = Model.ID })">BACK</a>
                    <h2 class="Header">SELECT TOPPINGS</h2>
                </article><!--/#Banner-->

                <div class="col-xl-12">
                    @Html.Partial("_ToppingsPartial", Model)
                </div>
            </div><!--/#ExceptBasket-->

        </div><!--/#PageRow-->
    </div><!--#PageContainer-->
</section><!--/#PizzaTopping-->

<script type="text/javascript">
    $("#Toppings div a").click(function () {
        $(this).toggleClass("Selected");
    })
</script>