/*/>>>>>> GENERAL >>>>>>/*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Sitka Heading', serif;
}

p, lead, a {
    font-family: 'Sitka Text', serif;
}
/*/<<<<<< GENERAL <<<<<</*/



/*/>>>>>> LAYOUT >>>>>>/*/
/* Navbar */
nav {
    background-color: #202020;
    z-index: 2;
    height: 5rem;
}

nav #Banner {
    margin-bottom: 0.4rem;
}

    nav #BannerText {
        color: #AFAFAF;
        font-family: 'Sitka Banner', serif !important;
        font-size: 30pt;
        margin-bottom: -1rem;
    }

    nav .nav-link {
        color: #AFAFAF;
        font-family: 'Sitka Display', serif !important;
        font-size: 20pt;
        font-weight: 400;
        margin-left: 1.5rem;
        padding: 1.3rem 0 0.7rem 0;
    }

        nav .nav-link.active {
            background-image: url(/Assets/Blazin.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        nav .nav-link:hover {
            color: #E2E2E2;
        }

    nav #NavbarToggler {
        font-size: 35pt;
    }

    nav .navbar-toggler {
        border: none;
    }
/*/<<<<<< LAYOUT <<<<<</*/



/*/>>>>>> WELCOME >>>>>>/*/
#Home {
    z-index: 3;
    background-color: #202020;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* Banner */
    #Home .Banner {
        background-image: url(/Assets/Blazin.svg);
        background-position: left;
        background-size: contain;
        background-repeat: no-repeat;
        padding-left: 6rem;
        margin-bottom: 5rem;
    }

        #Home .Banner h1 {
            color: #707070;
            font-size: 110pt;
            margin-bottom: -0.5rem;
        }

            #Home .Banner h1.Top {
                padding-top: 5rem;
            }

            #Home .Banner h1.Bottom {
                line-height: 0.7;
            }

    /* Buttons */
    #Home .Buttons .Middle,
    #Home .Buttons .Top,
    #Home .Buttons .Bottom {
        display: flex;
        justify-content: center;
    }

    #Home .Buttons .Middle {
        margin-bottom: 1.6rem;
    }

    #Home .Buttons a {
        font-family: 'Sitka Display', serif !important;
        font-weight: bold;
        text-align: center;
        font-size: 27pt;
        color: #AFAFAF;
        background-color: #683131;
        width: 16rem;
        border-radius: 10rem;
        margin: 0 1rem 1.5rem 1rem;
    }

        #Home .Buttons a:hover {
            color: #E2E2E2;
        }

#Home .Buttons .Bottom a {
    background-color: #7EE0FF;
    color: #000000;
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 0;
}

    #Home .Buttons .Bottom a:hover {
        background-color: #468295;
    }

    /*Responsive Styles*/
    @media only screen and (max-width:760px)
{
    #Home .Banner {
        padding-left: 2.5rem;
        margin-bottom: 3rem;
    }

        #Home .Banner h1 {
            font-size: 60pt;
        }

    #Home .Buttons .Middle {
        margin-bottom: 0.5rem;
    }

    #Home .Buttons a {
        font-size: 15pt;
        width: 10rem;
    }

    #Home .Buttons .Bottom a {
        width: 2.5rem;
        height: 2.5rem;
        padding-top: 0.3rem;
    }
}

/*/<<<<<< WELCOME <<<<<</*/



/*/>>>>>> BASKET >>>>>>/*/
#Basket {
    z-index: 1;
    background-color: #202020;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

    #Basket h4 {
        color: #E2E2E2;
    }
/*/<<<<<< BASKET <<<<<</*/



/*/>>>>>> ORDER/INDEX >>>>>>/*/
#Order {
    background-color: #BCBCBC;
    padding-top: 5rem;
    padding-left: 25rem;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    #Order .Options {
        height: 100%;
        width: 100%;
        padding-left: 10rem;
        padding-top: 3rem;
    }

        #Order .Options a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 13rem;
            width: 100%;
            background-color: #202020;
            margin-bottom: 3rem;
            text-decoration: none;
            font-size: 50pt;
            color: #707070;
            border-radius: 1rem;
        }

            #Order .Options a.Pizzas
            #Order .Options a.Sides {
                margin-bottom: 3rem;
            }

            #OrderIndex .Options a:hover {
                color: #E2E2E2;
            }
/*/<<<<<< ORDER/INDEX <<<<<</*/



/*/>>>>>> ORDER/PIZZA >>>>>>/*/
#PizzaSize {
    background-color: #BCBCBC;
    padding-top: 5rem;
    padding-left: 25rem;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    #PizzaSize .Head {
        width: 100%;
        height: 7rem;
        background-color: #202020;
    }

#PizzaSize .Options {
    height: 100%;
    width: 100%;
    padding-top: 3rem;
}

#PizzaSize .Options a {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 100%;
    background-color: #202020;
    margin-bottom: 3rem;
    text-decoration: none;
    font-size: 50pt;
    color: #707070;
    border-radius: 1rem;
}

    #PizzaSize .Options a.Medium,
    #PizzaSize .Options a.Large {
        margin-left: 1rem;
    }
/*/<<<<<< ORDER/PIZZA <<<<<</*/