/*/>>>>>> GENERAL >>>>>>/*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Sitka Heading', serif;
}

p, lead, a {
    font-family: 'Sitka Text', serif;
}
/*/<<<<<< GENERAL <<<<<</*/



/*/>>>>>> LAYOUT >>>>>>/*/
nav {
    background-color: #202020;
}

#Banner {
    margin-bottom: 0.4rem;
}

#BannerText {
    color: #AFAFAF;
    font-family: 'Sitka Banner', serif !important;
    font-size: 30pt;
    margin-bottom: -1rem;
}

#NavbarNav {
    margin-right: 0.5rem;
}

.nav-link {
    color: #AFAFAF;
    font-family: 'Sitka Display', serif !important;
    font-size: 20pt;
    font-weight: 400;
    margin-left: 1.5rem;
    padding: 1.3rem 0 0.7rem 0;
    
}
    .nav-link.active {
        background-image: url(/Assets/Blazin.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .nav-link:hover {
        color: #E2E2E2;
    }
/*/<<<<<< LAYOUT <<<<<</*/